/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/* ## CSS keyframes ##

  God info about ceyframe on w3scools: 
  www.w3schools.com/css/css3_animations.asp
*/

/*// ELEMENTS TO ANIMATE //*/
.mario {
  position: absolute;
  top: -40px;
  left: 0;
  /* Apply keyframe to this element */
  animation-name: drive;
  animation-duration: 5s;  /* 3s */

  /* Tells the element to stay at the 'to' 
    forwards: set the element to use 'to' values
    backword: set the element to use 'from' values
    both: use both 'from' and 'to' values
  */
  animation-fill-mode: both;
  /* Delay animations start */
  /* animation-delay: 2s; */

  /* Number of times to run 'drive' */
  animation-iteration-count: 2;  /* infinite */

  /* Set how the transition should act
    Predeined values or cubic-bezier() like cubic-bezier(.29,.29,.72,.72)
    See: cubic-bezier.com  */
  transition-timing-function: linear;
}

.luigi {
  position: absolute;
  top: 120px;
  left: 0;

  animation-name: drive;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  /* Set direction backwords.
     Also: normal, alternate (from-to-from... alternate direction )
     normal|reverse|alternate|alternate-reverse|initial|inherit  */ 
  /* animation-direction: reverse; */
}


.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;

   /* Set all on one line with animaiton???

      animation: name duration timing-function delay iteration-count direction fill-mode;
   */
  animation: wind 80s linear infinite reverse;

}
.cloud:nth-child(2){
  width: 300px;
  top: 0;
  /* */
  animation: wind 50s linear infinite reverse;
}

/*// KEYFRAMES //*/
@keyframes drive {
  /* Set from and to state - move element at x axis */
  from{ transform: translateX(-150px); }  /* 200px */
  to{ transform: translateX(950px); }  /* 700px */
}

@keyframes wind {
  from{ left: -300px; }
  to{ left: 90%; }
}






